name: Deploy React to IONOS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupère le code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Installe Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      # 3. Nettoie le cache npm (évite les problèmes de dépendances)
      - name: Clean npm cache
        run: npm cache clean --force

      # 4. Installe les dépendances
      - name: Install Dependencies
        run: npm ci --legacy-peer-deps

      # 5. Construit le site (crée le dossier 'dist')
      - name: Build Project
        run: npm run build

      # 5. Envoie le dossier 'dist' chez IONOS via SFTP
      - name: Deploy to IONOS (SFTP)
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          local_path: './dist/.'
          remote_path: '/public/'   # dossier que tu vois dans FileZilla
          sftp_only: true
          delete_remote_files: false
